html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
  position: relative;
}

.center {
  width: 28px;
  position: absolute;
  left: 45.3%;
  top: 135px;
}

.hand {
  width: 14px;
  position: absolute;
}

.hand-hour {
  transform-origin: center bottom;
  animation: spin 6s infinite linear;
  position: relative;
  left: 47.5%;
  top: 65px;
}

.hand-minute {
  transform-origin: center bottom;
  animation: spin 1s infinite linear;
  position: relative;
  left: 41.5%;
  top: 65px;
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}
